@font-face {
    font-family: 'Heebo';
    src: url(./fonts/Heebo-Bold.woff2) format('woff2');
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Heebo';
    src: url(./fonts/Heebo-Light.woff2) format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Yantramanav';
    src: url(./fonts/Yantramanav-Bold.woff2) format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/* Нормализация */

/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure, fieldset):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  ol,
  dl
):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  --paragraphMarginBottom: 24px;

  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}


/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Убираем скачок интерфейса по горизонтали
    при появлении / исчезновении скроллбара
   */
  scrollbar-gutter: stable;
  /**
    Плавный скролл
   */
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
  display: inline-flex;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
  cursor: pointer;
}

/**
  Убирает серую подсветку при тапе на мобильных устройствах (iOS/Android)
 */
button {
  -webkit-tap-highlight-color: transparent;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут fill со значением 'none' или начинается с 'url')
 */
:where([fill]:not(
  [fill="none"],
  [fill^="url"]
)) {
  fill: currentColor;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут stroke со значением 'none')
 */
:where([stroke]:not(
  [stroke="none"],
  [stroke^="url"]
)) {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Приведение рамок таблиц в классический 'collapse' вид
 */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
    --color-dark-alternate: #131619;
    --color-grey-dark: #404040;
    --color-grey-light: #C4C4C4;
    --color-light: #fff;
    --color-dark: #000;

    --border: 1px solid var(--color-light);
    --border-radius: 30px;

    --input-height: 54px;

    --font-family-base: 'Heebo', sans-serif;
    --font-family-accent: 'Yantramanav', sans-serif;

    --container-width: 1300px;
    --container-padding-x: 15px;

    --header-height: 90px;
    --header-height-mobile: 120px;

    --transition-duration: 0.3s;
}

/* COMMON */

body {
    font-family: var(--font-family-base);
    font-weight: 300;
    font-size: 16px;
    line-height: 1.75;
    letter-spacing: 0.8px;
    color: var(--color-grey-light);

    background-color: var(--color-dark-alternate);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
    margin-inline: auto;
    max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
    padding-inline: var(--container-padding-x);
}

.container-wide {
  max-width: 1920px;
  margin-inline: auto;
}

a {
    text-decoration: none;
}

button, input {
    border: none;
}

a, button, input {
    transition-duration: var(--transition-duration);
}

h1,
h2,
h3,
h4 {
  color: var(--color-light);
  text-transform: uppercase;
}

.button {
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 1.2;
    text-transform: uppercase;
    color: var(--color-dark);

    padding: 8px 26px;
    border-radius: var(--border-radius);

    background-color: var(--color-light);

}

.button:hover {
    background-color: var(--color-grey-light);
}

.button--alternate {
  background-color: transparent;
  border: var(--border);
  height: var(--input-height);

  color: var(--color-light);

  padding: 14px 80px 14px 30px;

  position: relative;

  transition-duration: var(--transition-duration);
}

.button--alternate::after {
  content: "";

  border: var(--border);
  border-radius: 50%;

  height: var(--input-height);
  aspect-ratio: 1;

  display: block;
  position: absolute;
  right: -1px;
  top: -1px;

  background: url(./icons/arrow-top-right.svg) center/70% no-repeat;
}

.button--alternate:hover {
  background-color: var(--color-light);
  color: var(--color-dark)
}

.button--alternate:hover::after {
  background-image: url(./icons/arrow-top-right-dark.svg);
}

.title-with-plus {
  position: relative;
  z-index: 2;
}

.title-medium {
  font-size: clamp(20px, 2.1vw, 40px);
  line-height: 1.3;
}

.title-big {
  font-size: clamp(30px, 3.12vw, 60px);
  line-height: 1.2;
  text-align: center;
}

.title-with-plus::before {
  content: "";
  background: url(./icons/plus.svg) center/contain no-repeat;
  width: 26px;
  aspect-ratio: 1;
  
  display: block;
  position: absolute;
  right: calc(100% + 8px);
}

.title-with-plus::after {
  content: attr(data-title);
  color: transparent;
  -webkit-text-stroke: 1px var(--color-grey-dark);
  font-size: 2.8em;

  z-index: -1;
  position: absolute;
  top: -0.5em;
  left: -0.5em;
}

/* HEADER */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    padding-inline: 30px;

    min-height: var(--header-height);
}

.header__logo {
    flex-shrink: 0;
}

.header__menu-list {
    display: flex;
    column-gap: 60px;

    flex-wrap: wrap;
}

.header__menu-link {
    display: inline-flex;
    align-items: center;
    gap: 7px;

    height: var(--header-height);

    font-weight: 700;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    color: var(--color-light);
    font-size: 12px;
}

.header__menu-link:hover {
    color: var(--color-grey-light);
}

.header__menu-link.is-current::after {
    content: "";
    width: 5px;
    aspect-ratio: 1;

    background-color: currentColor;
    border-radius: 50%;
}

.header__actions {
    display: flex;
    gap: 40px;
}

.header__burger-menu {
    width: 40px;
    aspect-ratio: 1;

    border: var(--border);
    border-radius: 50%;

    display: flex;
    justify-content: center;
    gap: 4px;
    flex-direction: column;

    background-color: transparent;
    color: var(--color-light);

    padding-left: 8px;
}

.header__burger-menu-line {
    width: 6px;
    height: 1px;

    background-color: currentColor;
    box-shadow: 16px 0 0 currentColor;
}

.header__burger-menu:hover {
    color: var(--color-grey-light);
    border-color: currentColor;
}

/* EVENTS */

.events {
  color: var(--color-light);

  padding: 38px 70px;

  height: calc(100vh - var(--header-height));

  display: flex;
  flex-direction: column;
  justify-content: end;
}

.events__info {
  display: flex;
  align-items: end;

  font-size: clamp(16px, 1.56vw, 30px);
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.27;
}

.events__info::before {
  content: "";
  background: url("./icons/arrow.svg") center/contain no-repeat;
  width: clamp(60px, 10.1vw, 194px);
  aspect-ratio: 1;
  margin-right: 30px;
}

.events__title {
  font-size: clamp(24px, 18.75vw, 360px);
  line-height: 1;
}

.events__pagination-list {
  display: flex;
  justify-content: center;
}

.events__pagination-item {
  display: flex;
  align-items: center;
}

.events__pagination-button {
  display: flex;
  align-items: center;

  padding-inline: 7px;
  background-color: transparent;

}

.events__pagination-button::after {
  content: "";

  width: 10px;
  aspect-ratio: 1;

  border-radius: 50%;
  border: var(--border);

  transition-duration: var(--transition-duration);
}

.events__pagination-button.is-current::after {
  background-color: var(--color-light);
}

.events__pagination-button:not(.is-current):hover::after {
  border-color: var(--color-grey-light);
}

/* Motivation */

.motivation {
}

.motivation__item:nth-child(odd) {
  background-color: var(--color-dark);
}
.motivation__body {
}
.motivation__card {
  display: flex;
  gap: clamp(20px, 10.42vw, 200px);
  justify-content: start;
  align-items: center;
}
.motivation__item:nth-child(even) .motivation__card {
  flex-direction: row-reverse;
}
.motivation__title:not(:last-child) {
  margin-bottom: 14px;
}
.motivation__description {
  max-width: 400px;
  margin-bottom: 38px;
}

.motivation__image {
  margin-block: -62px;
}

/* Training types */

.training-types {
  position: relative;

  background-color: var(--color-dark);
  padding-block: 145px;
  padding-inline: var(--container-padding-x);
}

.training-types__list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 30px;
}

.training-types__item {
  --trainingTypesBgItemSize: 80px;

  padding-top: calc(var(--trainingTypesBgItemSize) * 1.2);
  background: url(./icons/arrow-transparent-bottom-left.svg) right top / var(--trainingTypesBgItemSize) no-repeat;
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  row-gap: 32px;
}

.training-types__title {
  font-size: 16px;
}

.join-us__video-wrapper {
  position: relative;

  padding: 150px 30px;
  background: var(--color-dark) url(./images/join-us-bg.jpg) center/cover no-repeat;

  display: flex;
  justify-content: center;
  align-items: center;
}

.join-us__video{
  width: 100%;
  max-width: 960px;
  height: auto;
}

.join-us__video-button {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  width: 200px;
  aspect-ratio: 1;

  background-color: transparent;
  border: var(--border);
  border-radius: 50%;

  font-family: var(--font-family-base);
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--color-light);

  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 4px;

  transition-duration: var(--transition-duration);
}

.join-us__video-button::after {
  content: "";
  background: url(./icons/arrow-top-right.svg) center / contain no-repeat;
  width: 20px;
  aspect-ratio: 1;

  transition-duration: var(--transition-duration);
}

.join-us__video-button:hover {
  background-color: var(--color-light);
  color: var(--color-dark)
}

.join-us__video-button:hover::after{
  filter: invert(1);
}


.join-us__body {
  padding-bottom: 150px;
}

.join-us__title {
  position: relative;

  text-align: center;
  font-size: clamp(64px, 9.38vw, 180px);
  line-height: 1;

  margin-bottom: 82px;
  margin-top: -0.4em;
}

.join-us__title::after {
  content: "";

  width: 0.7em;
  aspect-ratio: 1;

  background: url(./icons/arrow.svg) center / contain no-repeat;

  scale: 1 -1;

  display: inline-block;
  margin-left: 0.15em;
}

.join-us__form {

}

.join-us__form-header {
  margin-bottom: 52px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-with-plus--centered::after {
  top: -0.4em;
  left: 0.2em;
}

.join-us__form-header-title {
  margin-bottom: 10px;
}


.header-subtitle {
  text-transform: uppercase;
  font-size: 20px;
  text-align: center;
}

.join-us__form-body {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.join-us__input {
  max-width: 400px;
}

.input {
  background-color: transparent;
  border-radius: var(--border-radius);
  border: 1px solid var(--color-grey-dark);

  padding: 15px 25px;

  width: 100%;

  color: var(--color-light);
}

.input::placeholder {
  color:var(--color-grey-light)
}

.input:hover {
  border-color: var(--color-light)
}

.input:focus {
  outline: none;
  background-color: var(--color-light);
  color: var(--color-dark)
}

.input:focus::placeholder {
  color:var(--color-grey-dark)
}

/* Location */

.location {
  background-color: var(--color-dark);
}

.location__inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.location__body {
  padding: 80px 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.location__title {
  margin-bottom: 14px;
}

.location__description {
  max-width: 490px;
  text-align: center;

  margin-bottom: 38px;
}


/* Header */

.family {

}

.family__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 130px 20px 90px;
}

.family__header-title {
  margin-bottom: 10px;
}

.family__body {
  display: flex;
  justify-content: center;
  gap: 25px;

  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.family__image {
  scroll-snap-align: start;
}

/* calculate */

.calculate {
  padding: 140px 15px;
}

.calaculate__inner {
  display: flex;
  align-items: center;
  gap: clamp(160px, 8.33vw, 180px);
}

.calculate__body {
  width: 100%;
  max-width: 630px;
}

.calculate__title {
  margin-bottom: 16px;
}

.calculate__description {
  max-width: 385px;
  margin-bottom: 30px;
}

.calculate__form {
  
}

.calculate__form-body {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 30px;
  row-gap: 18px;

  margin-bottom: 26px;
}

.input {

}

.calculate__form-input--wide {
  grid-column: 1 / -1;
}

.calculate__table-wrapper {
  position: relative;
}

.calculate__table-wrapper::before {
  content: "";

  z-index: -1;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  background-color: var(--color-dark);
  border-radius: 50%;
  width: 610px;
  aspect-ratio: 1;

  display: flex;
  justify-content: center;
  align-items: center;
}

.calculate__table {
  border-collapse: collapse;
  text-align: left;
}

.calculate__table :is(thead,tfoot span) {
  color: var(--color-light);
  text-transform: uppercase;
  font-weight: bold;
}

.calculate__table tfoot td {
  padding-top: 30px;
  color: var(--color-light);
}

.calculate__table :not(tfoot) tr :is(th,td):first-child {
  border-right: 1px solid var(--color-grey-dark);
}

.calculate__table tbody td {
  border-top: 1px solid var(--color-grey-dark);
}

.calculate__table :is(thead th, tbody td) {
  padding-block: 14px;
}

.calculate__table :not(tfoot)  tr :is(th,td):last-child{
  padding-left: 30px;
}

.calculate__table tbody tr:last-child td:first-child {
  position: relative;
}

.calculate__table tbody tr:last-child td:first-child::after {
  content: "";
  width: 70%;
  height: 1px;
  background-color: var(--color-grey-dark);

  position: absolute;
  right: 0;
  bottom: 0;
}

@media (max-width: 1900px) {
  .motivation__image {
    margin-block: -25px;
  }
  
}

@media (max-width: 1400px) {
    .motivation__image {
      margin-block: 0;
    }

    .motivation__card {
      padding-block: 30px;
    }

    .training-types__list {
      grid-template-columns: repeat(3, 1fr);
    }

    .training-types {
      padding-block: 90px;
    }

    .calculate {
      padding-block: 100px 80px;
    }

    .calaculate__inner {
      justify-content: center;
    }

    .calculate__body {
      max-width: 400px;
    }

    .calculate__form-body {
      grid-template-columns: 1fr;
    }

    .calculate__table-wrapper::before {
      display: none;
    }

}

@media (max-width: 1030px) {
    .header {
        padding-top: 10px;
    }
    .header__menu {
        order: 1;
        flex-basis: 100%;
    }

    .header__menu-link {
        height: 80px;
    }

    .events {
      padding-inline: 30px;

      height: calc(100vh - var(--header-height-mobile));
    }

    .events__info {
      margin-bottom: 10px;
    }

    .events__info::before {
      margin-right: 15px;
    }

    .motivation__image {
      max-width: 300px;
    }

    .join-us__title {
      margin-bottom: 60px;
    }
    .join-us__body {
      padding-bottom: 100px;
    }

    .join-us__form-body {
      flex-direction: column;
      align-items: center;
    }

    .location__inner {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(2, auto);
    }

    .location__map {
      order: 2;
    }

    .location__body {
      order: 1;
    }

    .family__header {
      padding-block: 80px;
    }

    .family__body {
      gap: 10px;
    }

    .family__image {
      max-height: 300px;
    }

    .calculate {
      padding-block: 80px 60px;
    }

    .calaculate__inner {
      flex-direction: column;
      gap: 40px;
    }
}


@media (max-width: 715px) {
  .training-types__item {
    --trainingTypesBgItemSize: 60px;
  }

  .motivation__card {
    flex-direction: column-reverse;
  }

  .motivation__item:nth-child(even) .motivation__card{
    flex-direction: column-reverse;
  }

  .motivation__image {
    max-width: 500px;
  }

  .training-types {
    padding-block: 70px;
  }

  .training-types__list {
    grid-template-columns: repeat(2,1fr);
  }

  .join-us__video-wrapper {
    padding-block: 100px;
  }

  .join-us__video-button{
    width: 150px;
  }

  .join-us__body {
      padding-bottom: 70px;
    }

}

@media (max-width: 550px) {
    .header,
    .events {
        padding-inline: 15px;
    }

    .header__menu-link.is-current::after {
        display: none;
    }

    .header__menu-list {
        gap: 34px;
    }

    .header__actions {
        gap: 20px;
    }

    .header__book-button {
        padding-inline: 18px;
    }

    .motivation__image {
      max-width: 100%;
    }

    .training-types__image {
      max-width: 120px;
    }

    .training-types__title {
      font-size: 14px;
    }

    .join-us__video-wrapper {
      padding-block: 60px;
    }

    .join-us__video-button{
      width: 100px;
    }

    .join-us__form-header-subtitle {
      font-size: 16px;
    }

    .location__description {
      font-size: 14px;
    }
}

@media (max-width: 400px) {
        .header__menu-list {
        gap: 20px;
    }
}